@{
    ViewData["Title"] = "Cart";
}

<style>

    #ag {
        height: 600px;
        margin-top: 10px;
    }

    
    .ag-center-cols-viewport {
        min-height: unset !important;
    }
    .ag-theme-quartz-dark {
        --ag-header-height: 50px;
        font-size: 18px;
        /* bright green, 10% opacity */
        --ag-selected-row-background-color: rgb(0, 255, 0, 0.1);
    }

        .ag-theme-quartz-dark .ag-header {
            background-color: #7C9D96;
        }

    .ag-paging-panel {
        background-color: #7C9D96;
        color: white;
        height: 60px;
    }

    .ag-theme-quartz-dark .ag-header-cell-label {
        font-size: 20px;
        color: white;
    }

    .ag-icon-filter, .ag-icon-menu {
        color: white;
    }

    .btnColor {
        background-color: #FFCC70;
        margin-top: 30px;
        padding: 7px 20px;
        border-radius: 10px;
    }

    .divForm {
        background-color: #7C9D96;
        border: 1px solid black;
        border-radius: 5px;
    }

        .divForm label {
            color: white;
        }
        .total{
            max-width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            padding: 10px;
        }
</style>



<div id="ag" class="container ag-theme-quartz-dark"></div>
<div class="total">
    <h3>Total Amount : Rs <strong id="amount"></strong></h3>
    <button class="btn btn-primary">Proceed to Payment <span class="glyphicon glyphicon-menu-right"></span></button>
</div>

<script>
    // var userId = { userId: @TempData["user"]};
    var userId = { userId: 2};
    const gridOptions = {

        
        defaultColDef: {
            // filter: true,
            // width: "317px",
            // floatingFilter: true,
            // editable: true,
            
        },

        columnDefs: [
            // {
            //     headerName: "Product Img",
            //     cellRenderer: function (x) {
            //         var data = x.data.products;
                   
            //         return `<img src="${data.prod_Img}" height="100" width="100" />`
            //     },
            //     editable: false,
            // },
            {
                field: "products.prod_Name", headerName: "Item", width: "680", checkboxSelection: true,
                headerCheckboxSelection: true,
            },
            { field: "cart_Price", headerName: "Amount", width: "150", valueFormatter: function (params) { return "Rs. " + params.value.toLocaleString(); } },
            {
                field: "cart_Qty",
                headerName: "Qty",
                // cellRenderer: function (x) {
                //     var data = x.data;
                //     return `<select id = "myQty"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>`;
                // },
                editable: true,
                width: "90",
                
            },
            {
                headerName: "Action",
                cellRenderer: function (x) {
                    var data = x.data;                    
                    return `<button class="btn btn-warning" onclick = "deleteData(${data.cart_Id})">Buy Now</button> 
                    &nbsp<button class="btn btn-danger" onclick = "deleteData(${data.cart_Id})"><span class="glyphicon glyphicon-trash"></span></button>`
                },
               
                //editable: false,
            },
        ],

        rowSelection: 'multiple',
        // onRowSelected: function (event) {
        //     console.log(event.data.cart_Price);
        // },
        onSelectionChanged: function (event) {
            var total = 0;
            event.api.getSelectedNodes().forEach(function (item) {
                total += item.data.cart_Price;
            })
            $("#amount").text(total);
        },

        onCellValueChanged: (event) => {
            // fetch(`/OnlineShop/Edit/`, {
            //     method: "POST",
            //     headers: {
            //         "content-type": "application/json",
            //     },
            //     body: JSON.stringify(event.data),
            // })
            console.log("hello");
            $.ajax({
                type: "POST",
                url: "/OnlineShop/Edit/",
                data: event.data,
                success: function (data) {
                    return gridApi.setGridOption('rowData', data);
                },
                error: function (data) {
                    alert(data);
                }
            })
        },
    };

    const AG = document.querySelector("#ag");
    const gridApi = agGrid.createGrid(AG, gridOptions);
    
    // fetch(`/OnlineShop/GetCartData/${@TempData["user"]}`, { method: "POST" })
    //     .then((response) => response.json())
    //     .then((data) => gridApi.setGridOption('rowData', data));

    
    $.ajax({
        type: "Get",
        url: "/OnlineShop/GetCartData/",
        data: userId,
        success: function (data) {
            return gridApi.setGridOption('rowData', data);
        },
        error: function (data) {
            alert(data);
        }
    })

    function deleteData(id) {
        fetch(`/OnlineShop/Delete/${id}`, { method: "POST" })
            .then((response) => response.json())
            .then((data) => gridApi.setGridOption('rowData', data));

    }

</script>
