<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SynergyElectronics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SynergyElectronics.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> @* for icons *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.3.1114/mjs/kendo.all.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        header {
            position: sticky;
            top: 0;
            z-index: 10;
        }

            header nav {
                background-color: rgba(27, 27, 27, 0.8);
                width: 100%;
                margin: 10px 0;
            }

        nav .menu {
            max-width: 1600px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 20px;
        }

        .menu .logo a {
            text-decoration: none;
            color: #fff;
            font-size: 35px;
            font-weight: 600;
        }

        .menu > ul {
            padding: 0;
            margin: 0;
            display: inline-flex;
            gap: 3px;
        }

        .menu ul li {
            list-style: none;           
        }

            .menu ul li a {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 5px;
                transition: all 0.3s ease;
            }

                .menu ul li a:hover {
                    background: #f0ad4e;
                    color: #000;
                }

        .dropNav {
            margin-left: 7px;
           
        }

            .dropNav ul li {
                list-style: none;
                margin-left: 7px;
                margin-right: 7px;
            }

                .dropNav ul li a {
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 8px 15px;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                }
        
    </style>

</head>
<body>
  
    <header>
        <nav>
            <div class="menu">
                <div class="logo">
                    <a asp-controller="OnlineShop" asp-action="Index">@* <img id="logoImg" src="~/images/SeLogo.jpg" /> *@Synergy Electronics</a>
                </div>

                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AboutUs">About Us</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="mainBody">
            @RenderBody()
        </main>
    </div>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div>
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white pt-5"
                style="background-color: rgba(27, 27, 27, 0.8);">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Synergy Electronics
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a href="#MobiesAndTablets" class="text-white">Mobile & Tablets</a>
                            </p>
                            <p>
                                <a href="#LaptopAndDesktop" class="text-white">Laptop & Desktop</a>
                            </p>
                            <p>
                                <a href="#TvAduiosAndCameras" class="text-white">Tv, Camera & Audio Devices</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Useful links
                            </h6>
                            <p>
                                <a class="text-white">Your Account</a>
                            </p>
                            <p>
                                <a class="text-white">Become an Affiliate</a>
                            </p>
                            <p>
                                <a class="text-white">Shipping Rates</a>
                            </p>
                            <p>
                                <a class="text-white">Help</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> Mumbai, 104, India</p>
                            <p><i class="fas fa-envelope mr-3"></i> synergyelectronics@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 91 234 567 88</p>
                            <p><i class="fas fa-print mr-3"></i> + 91 234 567 89</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <div class="p-3">
                                © 2024 Copyright:
                                <a class="text-white" href="https://localhost:44325/">SynergyElectronics.com</a>
                            </div>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <!-- Google -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fab fa-google"></i>
                            </a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1"
                               class="text-white"
                               role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
